{% extends 'base.html' %}

{% block title %}Registratsiya{% endblock %}

{% block content %}
<main class="d-flex justify-content-center align-items-center">
    <form class="px-4 w-50" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h1 class="text-dark mb-3 fw-normal">Registratsiya</h1>
        <label for="id_username">Username:</label><br>
        <input class="form-control" type="text" id="id_username" name="username"><br>
        <label for="id_password1">Password:</label><br>
        <input class="form-control" type="password" id="id_password1" name="password1"><br>
        <label for="id_password2">Confirm Password:</label><br>
        <input class="form-control" type="password" id="id_password2" name="password2"><br><br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Registratsiya</button>
    </form>
</main>
{% endblock %}